:root{--primary-color:#4d5ae5;
--button--color:#4d5ae5;
--button--background-color:#F4F4FD;
--title-color:#2e2f42;
--section-color:#434455;}

body{font-family: "Roboto", sans-serif; color:#434455; background-color: #FFFFFF}

.web{font-family: "Raleway", sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase; color: #4D5AE5}

.link{text-decoration: none;}

.studio {color:#2E2F42; font-family: "Raleway", sans-serif; font-size:18px; font-weight: 800;}

.list{list-style: none}

.astudio{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color:#2E2F42}

.astudio:focus{color:#404bbf;}

.astudio:hover{color: #404bbf}

.email{text-decoration: none; ; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: var(--section-color)}

.email:focus{color:#404bbf}

.email:hover{color:#404bbf}

.tel{text-decoration: none; ; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em}

.tel:focus{color:#404bbf}

.tel:hover{color:#404bbf}

.footerweb2{text-decoration: none}

.mailandtel{color:#434455; font-family: "Roboto"; font-size: 16px; font-weight: 400; font-style: normal}

.presentation{background-color: #2E2F42; }

.solutions{line-height: 1.07; text-align: center; letter-spacing: 0.02em; color: #FFFFFF; font-size: 56px;}

.team{background-color: #F4F4FD}

footer{background-color:#2E2F42}
 
.order{background-color: #4D5AE5; color:#FFFFFF; cursor: pointer; font-family: Roboto, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em;}

.order:focus{background-color: #404BBF;}

.order:hover{background-color:#404BBF}

.strategy{color:#2E2F42; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.punctuality{color:#2E2F42; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.diligence{color:#2E2F42; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.technologies{color:#2E2F42; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.problem{color: #434455;  font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.message{color: #434455;  font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.brands{color: #434455;  font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.digital{color: #434455;  font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.responsibilities{font-size: 36px; line-height: 1.11; text-align: center; letter-spacing: 0.02em; text-transform: capitalize; color: #2E2F42}

.team{font-size: 36px; line-height: 1.11; text-align: center; letter-spacing: 0.02em; text-transform: capitalize; color:#2E2F42}

.image{background-color:#FFFFFF}

.image_{background-color:#FFFFFF}

.image-{background-color:#FFFFFF}

.imagen{background-color:#FFFFFF}

.mark{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:#2E2F42}

.designer{color:#434455; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em}

.tom{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:#2E2F42}

.developer{color:#434455; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.camila{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:#2E2F42}

.market{color:#434455; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.daniel{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:#2E2F42}

.ui_des{color:#434455; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.p-footer{color: #F4F4Fd; line-height:1.5; letter-spacing: 0.02 em}

.footer_i{background-color: #2E2F42;}

.i_footer_link{font-family: "Raleway", sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase; color:#4D5AE5}

.studio_i{color:#F4F4FD}

.i_footer_p{line-height: 1.5; color:#F4F4FD; letter-spacing: 0.02em}

body{font-family: "Roboto", sans-serif; color:#434455;}

.pstudio{font-family: "Raleway", sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase; color: #4D5AE5}

.portstudio{color:#2E2F42}

.apstudio{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: #2E2F42}

.apstudio:focus{color:#404bbf;}

.apstudio:hover{color:#404bbf;}

.apportfolio{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: #2E2F42}

.apportfolio:focus{color:#404bbf;}

.apportfolio:hover{color:#404bbf;}

.apcontacts{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: #2E2F42}

.apcontacts:focus{color:#404bbf;}

.apcontacts:hover{color:#404bbf;}

.contacts{font-style: normal}

.list{list-style:none;}

.p_email{font-style: 16px; line-height: 1.5; letter-spacing: 0.02em}

.link{text-decoration: none;}

.p_email:focus{color:#404BBF}

.p_email:hover{color:#404BBF}

.p_tel{font-style: 16px; line-height: 1.5; letter-spacing: 0.02em}

.p_tel:focus{color:#404BBF}

.p_tel:hover{color:#404BBF}

.button{font-family: "Roboto", sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; cursor: pointer;color: var(--button-color);background-color: var(--button-background-color);}

.button:focus{color:#FFFFFF; background-color: #404BBF;}

.button:hover{color:#FFFFFF; background-color: #404BBF;}

.icontact{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: var(--section-color)}

.icontact:hover{color:#404bbf}

.icontact:focus{color: #404bbf}

.banking_app{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:var(--title-color)}

.app{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color) }

.payment{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;color:var(--title-color)}

.markt{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color)  }

.meditation{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;color:var(--title-color)}

._app{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color)  }

.taxi{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;color:var(--title-color)}

._markt{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color)  }

.screen{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;color:var(--title-color)}

.design{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color)  }

.courses{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;color:var(--title-color)}

.-markt{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color)  }

.instagram{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;color:var(--title-color)}

._design{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color)  }

.food{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;color:var(--title-color)}

.site{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color)  }

.coffee{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;color:var(--title-color)}

._site{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;color:var(--section-color)  }

.pfooter{background-color: #2E2F42; }

.logo{font-family: "Raleway", sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase;}

.link{text-decoration: none;}

.p-studio{color:#F4F4FD}

.pcontact{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: var(--title0color)}

.pcontact:focus{color:#404BBF}

.pcontact:hover{color:#404BBF}



