.Web {color:#4D5AE5; font-family: Raleway; font-size:18px; font-weight: 800;}

.Studio {color:black; font-family: Raleway; font-size:18px; font-weight: 800; text-decoration: none;}

body{font-family: Roboto;}

.navigation{font-family: roboto; font-size: 16px font-weight: 500;}

.a1{text-decoration: none;}

.a2{text-decoration: none;}

.a3{text-decoration: none;}

.a4{text-decoration: none; font-weight: 400; font-size: 16px;}

.a5{text-decoration: none; font-weight: 400; font-size: 16px;}

.a6{text-decoration: none;}

.a7{text-decoration: none;}

.a8{text-decoration: none;}

.a9{text-decoration: none;}

.a10{text-decoration: none;}

.a6:hover{color:#404BBF}

.a7:hover{color:#404BBF}

.a8:hover{color:#404BBF}

.a9:hover{color:#404BBF}

.a5:hover{color:#404BBF}

.a10:hover{color:#404BBF}

.a1:hover{color:#404BBF}

.a2:hover{color:#404BBF}

.a3:hover{color:#404BBF}

.a4:hover{color:#404BBF}

.order:hover{background:#404BBF;}

.footerweb2{text-decoration: none}

.contacs{color:#434455; font-family: Roboto; font-size: 16px; font-weight: 400;}

.presentation{background-color: #2E2F42; color:#FFFFFF; font-size: 56px; font-weight: 700}

.team{background-color: #F4F4FD}

footer{background-color:#2E2F42}
 
.order{background-color: #4D5AE5; color:#FFFFFF; cursor: pointer;}

.footerweb{color:#4D5AE5; font-family: Raleway; font-size: 18px; font-weight: 800;}

.footerstudio{color:#FFFFFF; font-family: Raleway; font-size: 18px; font-weight: 800; text-decoration: none;}

h3{color:#2E2F42; font-weight: 500; font-size: 20px;}

.strategy{color:#2E2F42; font-weight: 500; font-size: 20px;}

.punctuality{color:#2E2F42; font-weight: 500; font-size: 20px;}

.diligence{color:#2E2F42; font-weight: 500; font-size: 20px;}

.technologies{color:#2E2F42; font-weight: 500; font-size: 20px;}

.p1{color: #434455; font-weight:400; font-size: 16px;}

.p2{color:#434455; font-weight: 400; font-size: 16px;}

.p3{color:#434455; font-weight: 400; font-size: 16px;}

.p4{color:#434455; font-weight: 400; font-size: 16px;}

.p5{color:#434455; font-weight: 400; font-size: 16px;}

.p6{color:#434455; font-weight: 400; font-size: 16px;}

.p7{color: #434455; font-weight: 400; font-size: 16px;}

.p8{color:#434455; font-weight: 400; font-size: 16px;}

.p-footer{color: #F4F4Fd; font-weight: 400; font-size: 16px;}

.web2{color: #4D5AE5; font-family: Raleway; font-weight: 800; font-size: 18px;}

.studio2{color: #2E2F42; font-family: Raleway; font-weight: 800; font-size: 18px; text-decoration: none;}

.button1{background-color:#404BBF; color:#FFFFFF;font-weight: 500; font-size:16px;}

.button2{background-color: #E7E9FC; color: #4D5AE5; font-weight: 500}

.button3{background-color: #E7E9FC; color: #4D5AE5; font-weight: 500}

.button4{background-color: #E7E9FC; color: #4D5AE5; font-weight: 500}

.button5{background-color: #E7E9FC; color: #4D5AE5; font-weight: 500}

.button6{background-color: #E7E9FC; color: #4D5AE5; font-weight: 500}

h4{color:#2E2F42; font-weight: 500; font-size: 20px;}

p{color: #434455; font-weight: 400; font-size: 16px;}

.footerweb2 {color: #4D5AE5; font-family: Raleway; font-weight: 800; font-size: 18px;}

.footerstudio2 {color:#F4F4FD; font-weight: 800; font-size: 18px}

.p-footer2 {color:#F4F4FD; font-weight: 400; font-size: 16px;}

