body{font-family: Roboto, sans-serif; color:#434455; background-color: #FFFFFF}

.studio {color:#4D5AE5; font-family: Raleway, sans-serif; font-size:18px; font-weight: 800;}

.link {color:black; font-family: Raleway, sans-serif; font-size:18px; font-weight: 800; text-decoration: none; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase;}

.list{style: none}

.astudio{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em}

.astudio:focus{color:#404bbf;}

.astudio:hover{color: #404bbf}

.aportfolio{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.aportfolio:focus{color:#404bbf;}

.aportfolio:hover{color: #404bbf;}

.acontacts{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.acontacts:hover{color:#404bbf;}

.acontacts:focus{color: #404bbf;}

.a1{text-decoration: none;}

.a2{text-decoration: none;}

.a3{text-decoration: none;}

.email{text-decoration: none; ; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em}

.email:focus{color:#404bbf}

.email:hover{color:#404bbf}

.tel{text-decoration: none; ; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em}

.tel:focus{color:#404bbf}

.tel:hover{color:#404bbf}

.a5{text-decoration: none; font-weight: 400; font-size: 16px;}

.a6{text-decoration: none;}

.a7{text-decoration: none;}

.a8{text-decoration: none;}

.footerweb2{text-decoration: none}

.mailandtel{color:#434455; font-family: Roboto; font-size: 16px; font-weight: 400; font-style: normal}

.presentation{background-color: #2E2F42; }

.solutions{line-height: 1.07; text-align: center; letter-spacing: 0.02em; color: #FFFFFF; font-size: 56px;}

.team{background-color: #F4F4FD}

footer{background-color:#2E2F42}
 
.order{background-color: #4D5AE5; color:#FFFFFF; cursor: pointer; font-family: Roboto, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em;}

.order:focus{background-color: #404BBF;}

.order:hover{background-color:#404BBF}

.strategy{color:#2E2F42; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02;}

.punctuality{color:#2E2F42; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02;}

.diligence{color:#2E2F42; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02;}

.technologies{color:#2E2F42; font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02;}

.problem{color: #434455; font-weight:400; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.message{color: #434455; font-weight:400; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.brands{color: #434455; font-weight:400; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.digital{color: #434455; font-weight:400; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.responsibilities{font-size: 36px; line-height: 1.11; text-align: center; letter-spacing: 0.02em; text-transform: capitalize; color: #2E2F42}

.team{font-size: 36px; line-height: 1.11; text-align: center; letter-spacing: 0.02em; text-transform: capitalize; color:#2E2F42}

.image{background-color:#FFFFFF}

.image_{background-color:#FFFFFF}

.image-{background-color:#FFFFFF}

.imagen{background-color:#FFFFFF}

.mark{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:#2E2F42}

.designer{color:#434455; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em}

.tom{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:#2E2F42}

.developer{color:#434455; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.camila{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:#2E2F42}

.market{color:#434455; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.daniel{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color:#2E2F42}

.ui_des{color:#434455; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}

.p-footer{color: #F4F4Fd; line-height:1.5; letter-spacing: 0.02 em}

.footer_i{background-color: #2E2F42;}

.i_footer_link{font-family: Raleway, sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase; color:#4D5AE5}

.studio_i{color:#F4F4FD}

.i_footer_p{line-height: 1.5; color:#F4F4FD; letter-spacing: 0.02em}

body{font-family: Roboto, sans-serif; color:#434455;}

.pstudio{font-family: Raleway, sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase; color: #4D5AE5}

.link{text-decoration: none;}

.portstudio{color:#2E2F42}

.apstudio{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: #2E2F42}

.link{text-decoration: none;}

.apstudio:focus{color:#404bbf;}

.apstudio:hover{color:#404bbf;}

.apportfolio{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: #2E2F42}

.apportfolio:focus{color:#404bbf;}

.apportfolio:hover{color:#404bbf;}

.apcontacts{font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; color: #2E2F42}

.apcontacts:focus{color:#404bbf;}

.apcontacts:hover{color:#404bbf;}

.contacts{font-style: normal}

.list{list-style:none;}

.p_email{font-style: 16px; line-height: 1.5; letter-spacing: 0.02em}

.link{text-decoration: none;}

.p_email:focus{color:#404BBF}

.p_email:hover{color:#404BBF}

.p_tel{font-style: 16px; line-height: 1.5; letter-spacing: 0.02em}

.link{text-decoration: none;}

.p_tel:focus{color:#404BBF}

.p_tel:hover{color:#404BBF}

.button_all{font-family: Roboto, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; cursor: pointer;}

.button_all:focus{color:#FFFFFF; background-color: #404BBF;}

.button_all:hover{color:#FFFFFF; background-color: #404BBF;}

.button_website{font-family: Roboto, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; cursor: pointer;}

.button_website:focus{color:#FFFFFF; background-color: #404BBF;}

.button_website:hover{color:#FFFFFF; background-color: #404BBF;}

.button_app{font-family: Roboto, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; cursor: pointer;}

.button_app:focus{color:#FFFFFF; background-color: #404BBF;}

.button_app:hover{color:#FFFFFF; background-color: #404BBF;}

.button_design{font-family: Roboto, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; cursor:pointer;}

.button_design:focus{color:#FFFFFF; background-color: #404BBF;}

.button_design:hover{color:#FFFFFF; background-color: #404BBF;}

.button_marketing{font-family: Roboto, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; cursor: pointer;}

.button_marketing:focus{color:#FFFFFF; background-color: #404BBF;}

.button_marketing:hover{color:#FFFFFF; background-color: #404BBF;}

.banking_app{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.app{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }

.payment{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.markt{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }

.meditation{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

._app{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }

.taxi{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

._markt{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }

.screen{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.design{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }

.courses{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.-markt{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }

.instagram{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

._design{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }

.food{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

.site{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }

.coffee{font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em;}

._site{font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }



.pfooter{background-color: #2E2F42; }

.logo{font-family: Raleway, sans-serif; font-weight: 800; font-size: 18px; line-height: 1.17; letter-spacing: 0.03em; text-transform: uppercase;}

.link{text-decoration:none}

.p-studio{color:#F4F4FD}

h4{color:#2E2F42; font-weight: 500; font-size: 20px;}

p{color: #434455; font-weight: 400; font-size: 16px;}

.footerweb2 {color: #4D5AE5; font-family: Raleway; font-weight: 800; font-size: 18px;}

.footerstudio2 {color:#F4F4FD; font-weight: 800; font-size: 18px}

.p-footer2 {color:#F4F4FD; font-weight: 400; font-size: 16px;}


